.main-content {
    margin-left: 1rem;
    margin-right: 1rem;
    .title-text {
        display: flex;    
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .example-content {
        .angular-playground-description {
            padding: 0.5Rem;
        }
        .data-entry-form {
            border: solid blue 1px;
            padding: 1rem;
        }
        .sub-topic {
            padding: 0.5Rem;
        }
        input.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
        .spacer {
            margin-right: 0.5rem;
        }
    }
}